.about-skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & .about-skills-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
    }
    & .about-skills-container {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        & .about-skills-item {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            & .about-skills-subtitle {
                font-size: 1.1rem;
                font-weight: normal;
                color: #000;
            }
            & .about-skills-text {
                font-size: 1rem;
                font-weight: lighter;
                line-height: 1.2rem;
                color: #000;
            }
        }
    }
}

@media (min-width: 768px) {
    .about-skills {
        gap: 1.5rem;
        width: 100%;
        max-width: 48rem;
        & .about-skills-title {
            font-size: 2rem;
        }
        & .about-skills-container {
            gap: 1rem;
            & .about-skills-item {
                gap: .5rem;
                & .about-skills-subtitle {
                    font-size: 1.3rem;
                }
                & .about-skills-text {
                    font-size: 1.2rem;
                    line-height: 1.7rem;
                }
            }
        }
    }
}