.navbar {
    padding: 0;
    background-color: #f5f5f5;
    & .container-fluid {
        padding: .8rem 0;
        & .navbar-logo-link {
            padding-left: 1.6rem;
            & .navbar-logo-btn {
                display: flex;
                & .navbar-logo {
                    width: 2.2rem;
                    height: 2.2rem;
                }
                & .navbar-logo-badge {
                    display: none;
                    font-size: .5rem;
                    padding: .3rem .5rem;
                    top: .5rem;
                }
            }
            & .navbar-logo-btn:active {
                border: none;
            }
        }
        & .navbar-toggler {
            padding-right: 1.6rem;
            border: 0;
            box-shadow: none;
        }
        & .navbar-collapse {
            flex-grow: 0; /* Impede que a div cresça para preencher o espaço */
            background-color: #f5f5f5;
            & .navbar-nav {
                padding: .8rem 1.6rem .8rem 1.6rem;
                & .nav-link {
                    padding: .6rem 0;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar { 
        & .container-fluid {
            padding: 1rem 0;
            & .navbar-logo-link {
                padding-left: 2.5rem;
                & .navbar-logo-btn {
                    & .navbar-logo {
                        width: 3rem;
                        height: 3rem;
                    }
                    & .navbar-logo-badge {
                        font-size: .6rem;
                        padding: .4rem .6rem;
                        top: .5rem;
                    }
                }
            }  
            & .navbar-toggler {
                padding-right: 2.5rem;
                & .navbar-toggler-icon {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            & .navbar-collapse .navbar-nav {
                padding: 1rem 2.5rem 1rem 2.5rem;
                & .nav-link {
                    padding: .7rem 0;
                }
            }
        }
    } 
}

@media (min-width: 992px) {
    .navbar .container-fluid {
        & .navbar-logo-link {
            padding-left: 3.4rem;
            & .navbar-logo-btn {
                & .navbar-logo {
                    width: 3rem;
                    height: 3rem;
                }
                & .navbar-logo-badge {
                    font-size: .6rem;
                    padding: .4rem .6rem;
                    top: .5rem;
                }
            }
        }  
        & .navbar-toggler {
            padding-right: 2.5rem;
        }
        & .navbar-collapse .navbar-nav .nav-link {
            padding: .6rem 1.8rem;
        }
    }
}