.contact-call {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    & .contact-call-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #000;
    }
    & .contact-call-subtitle {
        display: grid;
        gap: .1rem;
        width: 100%;
        font-size: 0.938rem;
        font-weight: lighter;
        color: #000;
        & .contact-call-paragraph {
            width: 100%;
            font-size: 0.76rem;
            font-weight: lighter;
            color: #000;
            margin-bottom: .7rem;
        }
    }
    & .contact-call-items {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        & .contact-call-item {
            display: flex;
            align-items: center;
            gap: .6rem;
            text-decoration: none;
            color: #000;
            & .contact-call-icon {
                height: 1.2rem;
            }
            & .contact-call-text {
                font-size: .9rem;
                color: #000;
                text-decoration: underline;
                word-break: break-all;
            }
            & .contact-call-text:hover {
                color: #7399EB;
            }
        }
    }
}

@media (min-width: 768px) {
    .contact-call {
        & .contact-call-title {
            font-size: 2rem;
        }
        & .contact-call-subtitle {
            width: 24rem;
            font-size: 1.3rem;
            gap: .4rem;
            & .contact-call-paragraph {
                font-size: .9rem;
            }
        }
        & .contact-call-items {
            gap: .7rem;
            & .contact-call-item {
                & .contact-call-icon {
                    height: 1.5rem;
                }
                & .contact-call-text {
                    font-size: 1.1rem;
                }
            }
        }
    }
}